{{template "base" .}}

{{define "content"}}
<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col col-md-8 col-sm-12 mx-auto">
                <img src="/static/images/majors-suite.jpg" class="img-fluid" alt="Bedroom generals quarters" width="1200" loading="lazy">
            </div>
        </div>
    </div>
    <div class="px-4 pt-5 my-4 text-center border-bottom">
        <h1 class="display-4 fw-bold">Major's Suite</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="#!" id="check-availability-btn" class="btn btn-primary btn-lg px-4 me-sm-3"> Check Availability</a>
            </div>
        </div>
    </div>

</main>
{{end}}

{{define "js"}}
<script>
    let html = `
          <form id="reservation-dates2" method="get" class="needs-validation" novalidate>
              <div class="row text-left">
                <div class="col mb-3">
                  <label for="start_date" class="form-label">Starting Date</label>
                  <input disabled required type="text" class="form-control" id="start_date2" name="start_date" aria-describedby="startDateHelp">
                  <div id="startDateHelp" class="form-text">Enter your starting date (YYYY-MM-DD).</div>
                </div>
                <div class="col mb-3">
                    <label for="end_date" class="form-label">Ending Date</label>
                    <input disabled required type="text" class="form-control" id="end_date2" name="end_date" aria-describedby="endDateHelp">
                    <div id="endDateHelp" class="form-text">Enter your ending date (YYYY-MM-DD).</div>
                  </div>
              </div>
          </form>
        `;

    document.getElementById("check-availability-btn").addEventListener("click", function () {
        attention.customModal({msg: html, title:"Select your date"})
    });
</script>
{{end}}